@import url("./font/Neretto\ Sans/NerettoSans-Oblique.css");
@import url("./font/Neretto\ Sans/NerettoSans-Regular.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&display=swap");

body {
  background: #3960a1;
  font-family: "Noto Sans TC", sans-serif;
}
.first {
  height: 100vh;
  padding-bottom: 60px;
}
.container {
  /* border: 1px solid rgb(228, 144, 144); */
}
.aisatu {
  margin-top: 30vh;
}

.aisatu > h1 {
  font-size: 72px;
  font-family: "NerettoSans", Georgia;
  color: #fffaf5;
  padding-bottom: 10px;
}
.aisatu > .job {
  font-size: 32px;
  font-family: "NerettoSans", Georgia;
  color: #f2cc64;
  padding-bottom: 10px;
}
.my-pic {
  margin-top: 30vh;
  height: 300px;
  background: #fffaf5;
  border-radius: 5px;
  overflow: hidden;
}
.my-pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chinese {
  color: #fffaf5;
  font-size: 29px;
  font-weight: 900;
}
.chinese > .job {
  color: #f2cc64;
}
@media screen and (max-width: 1440px) {
  .aisatu > h1 {
    font-size: 60px;
  }
  .aisatu > .job {
    font-size: 28px;
  }
  .my-pic {
    height: 260px;
  }
  .chinese {
    font-size: 24px;
  }
}
.divider {
  margin-top: 6vh;
  height: 24px;
  background: #fffaf5;
}
.second {
  background: #fffaf5;
  padding-bottom: 60px;
}
.brief {
  color: #3960a1;
  padding: 48px 0px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
}
.brief h5 {
  color: #3960a1;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  line-height: 36px;
}
.brief h4 {
  font-weight: 900;
  font-family: "NerettoSans", "Noto Sans TC", sans-serif;
}
.skill {
  width: 100%;
  background: #dadada;
  border-radius: 30px;
  padding: 32px;
}
.skill-title {
  font-size: 32px;
  font-weight: 900;
  color: #3960a1;
}
.skill-title span {
  font-family: "NerettoSans", Georgia;
  font-size: 28px;
  margin-left: 21px;
}
.skill-list {
  margin-top: 24px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.6);
}
.skill-list .list-title {
  font-family: "NerettoSans", Georgia;
  font-size: 16px;
  margin-left: 21px;
  margin-bottom: 12px;
}
.skill-list li {
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
}
.list-title span {
  font-size: 20px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 700;
  margin-left: 12px;
}

.third {
  /* height: 75vh; */
  background: #3960a1;
  padding-bottom: 60px;
}
.title {
  margin: 60px 0px 0px 0px;
  font-size: 48px;
  color: #f2cc64;
  font-size: 32px;
  font-weight: 900;
  font-family: "NerettoSans", "Noto Sans TC", sans-serif;
}
.title span {
  font-size: 28px;
  margin-left: 12px;
}
.content {
  color: #fffaf5;
  font-size: 18px;
  font-weight: 700;
  margin: 24px 0px 48px 0px;
}
@media screen and (max-width: 1440px) {
  .card {
    width: 13rem !important;
  }
}
.card {
  width: 15rem;
}
.card .card-title {
  margin: 12px 0px;
  color: #3960a1;
  font-weight: 700;
}
.card .card-text {
  font-weight: 700;
}

.card .to-work {
  background: #f2cc64;
  border: 1px solid transparent;
  font-weight: 700;
}

.forth {
  /* height: 100vh; */
  background: #9abecf;
  padding-top: 5px;
  padding-bottom: 60px;
}
.forth > .title {
  margin: 0px;
}

/* .pic-wrapper {
  padding-bottom: 120px;
} */
.fifth {
  padding-bottom: 60px;
}
@media screen and (max-width: 1440px) {
  .pic-wrapper .main {
    max-width: 600px !important;
  }
  .main img {
    max-width: 600px !important;
  }
}
.pic-wrapper .main {
  /* max-height: 540px; */
  max-width: 800px;
}

.main,
.right {
  overflow: hidden;
  border-radius: 5px;
  padding: 0px;
  margin-left: 14px;
}
.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: scale(1.2);
}
.pic-wrapper .right {
  height: 300px;
}

.part {
  color: #f2cc64;
  font-size: 24px;
  font-weight: 700;
}
.part span {
  font-size: 18px;
  margin-left: 12px;
  font-family: "NerettoSans", "Noto Sans TC", sans-serif;
}
.part-list {
  color: #fffaf5;
  font-size: 18px;
  font-weight: 700;
  margin: 24px 0px 48px 0px;
  transform: translateX(-16px);
}
.part-list li {
  margin: 12px 0px;
}

.demo {
  height: 480px;
  padding: 0px;
  border-radius: 5px;
  overflow: hidden;
}
.big-video {
  width: 100%;
  height: 100%;
}
